
html,body{
    height: 100%;
    width: 100%;
}
.button{
    background-color: rgb(236, 224, 226);
    padding:20px;
    margin: 0 3px ;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
}
.row{
    
    margin: 8px 0;
}
.row input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 1px soild black;
    border-radius: 5px;
}
